body, #mainPage, input, select, textarea, button, .ui-btn {
	font-family: "Open Sans", sans-serif;
}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.chosen-container {
	text-align: left;
	min-width: 200px;
}

#formNewProduct_type_chosen, #formSelectProduct_type_chosen, #formProduct_licencia_chosen, #formProduct_organismo_chosen, #formProduct_idMuni_chosen {
	min-width: 400px;
}

#map {
	width: 100%;
}

.required:after {
    content: ': (*)';
}

.toolbar {
	height: 50px;
	background-color: rgba(0, 0, 0, 0.7);
}

.toolbar-button i {
	font-size: 32px;
	background-color: #0079b1;
	padding: 4px;
	color: #fff;
}

.toolbar li {
	text-align: center;
	list-style: none;
}

.zonePage {
	min-height: 200px;
}

label:after {
    content: ':';
}

.form-check label:after {
  content: '';
}

ul.list {
    list-style: none;
    max-height: 400px;
	overflow-y: scroll;
	padding-top: 15px;
	padding-left: 0;
}

ul.list li {
	clear: both;
}

ul.list a.link, ul.list .id {
	float: left;
}

ul.list .id {
	padding-right: 5px;
}

.ui-btn i {
	margin-right: 5px;
}

.no-result {
	display: none;
}

.oculto {
	display: none !important;
}

#loadingOverlay {
     position: absolute;
     left: 0px;
     top: 0px;
     width:100%;
     height:100%;
     text-align:center;
     z-index: 10000;
     background-image:url(../../../lib/IDEAragon/themes/default/images/disabled.png);
}

#loading {
     width:120px;
     top: 45%;
     left: 45%;
     position: absolute;

     padding:15px;
     text-align:center;
}

#serviceBtn {
	height: 28px;
	line-height: 20px;
	padding: 0;
	font-weight: bolder;
	color: #0079b1;
	background-color: #E6E6E4;
	padding-bottom: 0;
	font-size: 18pt;
	width: 30px;
}

#serviciosGroup .select2-selection{
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
}

.delServiceBtn {
	float: right;
	cursor: pointer;
	width: 20px;
	height: 20px;
}

.opProgress{
	display:none;
}

.horas,#frecuencia {
    width: 50px;
}

.fechas {
    width: 100px;
}

#opManager_page .container, #logsPage .container {
    max-width: 90%;
}

.onlyAdmin{
	display:none;
}

#loginDialog label::after {
    content: none;
}

#opTable td{
	text-align:center;
}

th.sortable {
	cursor: pointer;
}