#foot_int {
    height: 20px;
    font-size: 11px;
    color: #5f6061;
	position: fixed;
	width: 100%;
	bottom: 2px;
	left: 15px;
	background: #e9e9e9;
}

.enlaces_footer {
	padding-right: 0px;
}

#foot_int ul {
    list-style: none;
    margin: 0;
	padding: 5px;
}

#foot_int li {
    float: left;
    margin-left: 10px;
}
#foot_int li a {
    text-decoration: none;
    color: #5f6061;
	font-weight:700;
	line-height:14.3px;
	text-shadow:rgb(238, 238, 238) 0px 1px 0px;
}

.dest_pral {
	padding-left: 5px;
}

.flecha_sep {
	vertical-align: initial;
}

@media screen and (max-width:400px) {
	.noticias_footer {
		display: none;
	}
	#foot_int {
		height: 15px;
		padding-top: 0px;
	}

	#foot_int li a {
		font-size: 8px;
	}
	#foot_int ul {
	    padding-inline-start: 0px;
	}
}