#logo {
    padding-left: 13px;
    padding-top: 16px;
	float: left;
}

#headerLogos {
    height: 60px;
}

#header_text {
    padding-top: 19px;
}

#logoSitar {
    float: right;
    padding-right: 5px;
    padding-top: 5px;
}

#toolbar {
	width: auto;
    background: #0079b1;
}

.toolbarImage {
    float: right;
    padding-right: 7px;
    table-layout: fixed;
    padding-top: 2px;
}

#breadCrumb {
    float: left;
    color: white;
    padding-left: 10px;
    margin: 0;
    padding-top: 6px;
	font-size: 8pt;
	text-shadow: none;
	font-weight: 700;
}

#breadCrumb  .breadCrumbEnlace {
    color: #FFFFFF;
    padding: 5px;
    text-decoration: none;
}

#appLabel {
    padding-left: 5px;
}

@media screen and (max-width:500px) {
	#header_text {
		padding-top: 9px;
	}
	#logo img, #header_text {
		width: 100px;
	}
	#logo {
		padding-left: 0px;
		padding-top: 5px;
	}
	#logoSitar {
		padding-right: 0px;
		padding-top: 0px;
	}
	#logoSitar img {
		width: 100px;
		height: auto;
	}
	#headerLogos {
		height: 40px !important;
	}
}